#root {
  width: 100%;
  min-height: 100vh;
  --secondary-color: #1DB954;
  --header-height: 150px;
  --left-margin: 1rem;
  --light-gray-shade: #d5d8d87e;
  --card-size: clamp(8rem, 12vw, 13vw);
  --transparent-background: 0.2;
  --responsive-font: clamp(.6rem, 2vw - 1rem, 1rem);
  --contrast-clr: #353952;
  --menu-icon-size: clamp(1rem, 3vw, 1.9rem);
  --progress-width: 0;
  --player-border-radius: 20px;
  --list-height: 560px
}

html {
  box-sizing: border-box;
}


body {
  background-image: url('/gray-room-background.webp');
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {

  color: inherit;
  font-weight: normal;
  font-weight: 200;
  color: black;
}

a:hover {
  color: inherit
}

button {

  cursor: pointer;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 300;
}


.glass {

  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(9px);
  background-color: rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;
}

@keyframes spin {

  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes fade {

  0% {
    opacity: 1;
  }


  100% {
    opacity: 0
  }
}

@keyframes fade-from-bottom {

  0% {
    opacity: 0;
    transform: translateY(100px);
  }


  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes font-fade-in {

  0% {
    font-variation-settings: "wght" 100;
    letter-spacing: -0.5em;
  }

  100% {
    font-variation-settings: "wght" 200;
    letter-spacing: 0.1em;
  }
}


@keyframes hue {
  
  0% {
    box-shadow: 0px;
  }

  50% {
    box-shadow: 0px 0px 10px 2px #39FF14
  }

  100% {
    box-shadow: 0;
  }
}

.spinner {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid rgb(88, 88, 88);
  border-top: #1DB954 4px solid;
  animation: spin 1s linear infinite;
}

.toast {
  position: absolute;
  background-color: rgb(73, 73, 73);
  inset: 0;
  padding-inline: 10px;
  border-radius: 10px;
  width: max-content;
  height: max-content;
  margin: auto;
  color: white;
  font-weight: lighter;
  font-size: clamp(.7rem, 1vw, 1.5vw);
}

.bottom-toast {
  z-index: 99;
  top: 85vh;
  opacity: 0;
}

.toast :where(button, a) {
  margin-left: 5px;
  width: fit-content;
  color: #1DB954;
  /* font-size: 18px; */
  font-weight: bold;
}

.toast-fade {
  opacity: 1;
  animation: fade linear 1s forwards;
  animation-delay: 2s;
}

.this-is-empty {
  height: 100%;
  text-align: center;
  position: relative;
}

.this-is-empty p {
  margin-top: 5%;
  font-weight: 250;
}

.this-is-empty img {
  max-width: 80%;
  min-width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


li {
  list-style: none;
}

.login-wrapper {
  margin-block: 20vh;
  margin-inline: 30vw;
  padding-inline: 5px;
  min-width: min-content;
  text-align: center;
}

.login-wrapper>* {
  display: block;
}

.login-wrapper h1 {
  color: black;
  font-size: clamp(1.8rem, 4vw, 5vw);
  animation: font-fade-in 1.5s forwards;
}

.login-wrapper p {
  font-size: calc(var(--responsive-font) + 2px);
  margin-block: 4rem
}

.login-wrapper .btn {

  background-color: rgb(159, 159, 159);
  color: white;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-inline: auto auto;
  gap: 2px;
}

.login-wrapper small {

  font-size: 10px;

}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11%;
  height: 10dvh;
  /* border:1px solid blue */
}

.main-wrapper {
  /* margin-inline: var(--left-margin); */
  display: flex;
  justify-content: center;
  padding-inline: 2%;
  gap: 2%;
  /* height: 100vh; */
  /* margin-bottom: 30px; */
}



.nav {
  margin-block: 15%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 35px;
  z-index: 20;
  /* padding-block: 3rem; */
}

.nav * {
  font-size: calc(var(--responsive-font) + 1rem);
  color: var(--secondary-color)
}

.nav a {
  margin: 1.5rem;
  width: fit-content
}


.nav .btn {
  padding: 0px;
  margin-right: 5%;
  background: none;
  box-shadow: none;
}

.nav .btn:hover {
  background: none;
}

.btn {
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--light-gray-shade);
  transition: background-color 0.2s ease;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.btn:hover {

  background-color: #1DB954;
}

.btn:active {
  outline: none;
}


.logo h1 {

  font-size: calc(2vw + 1.1rem);
  font-weight: 150;
}



.searchbar-container {
  /* border: #0048aa 1px solid; */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  width: 100%;
  padding-block: .8rem;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0.155);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-image: url("D:\Users\rodri\Ãrea de Trabalho\Sites\music-player\search-icon.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 97%;
}

.searchbar:focus {

  outline: none;
}



.user {
  position: relative;
}



.user p {

  opacity: 0;
  font-size: calc(var(--responsive-font) - 2px);
  transition: opacity 0.2s ease-in-out;
  top: 65%;
  right: -90%;
  position: absolute;
  z-index: 10;
}

.user img {

  width: 40px;
  height: 40px
}

.user ul {
  position: absolute;
  bottom: -25%;
  /* left: 10%; */
  right: 10%;
  /* transform: translateX(25%); */
  width: max-content;
  padding: 5px;
  transition: .2s ease-in-out background-color;
}

.user :is(img, span, ul) {
  cursor: pointer;
}


.user ul:hover {
  background-color: rgba(184, 183, 183, 0.915);
}

.account-icon {
  margin-block: 50%;
  font-size: calc(2vw + 1.3rem);
  color: var(--secondary-color);
}

.user:hover .name {

  opacity: 1
}

.content-wrapper {
  width: 85%;
  height: 550px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 20px 0px 20px;
  box-shadow: -10px 0px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.content-wrapper:has(.row-elements) {
  height: fit-content
}

.content-title {

  font-size: calc(var(--responsive-font) + 5px);
  font-weight: 500;
  margin: 20px 0 10px 15px
}

.row-elements {
  display: flex;
  flex-flow: row nowrap;
  overflow-y: visible;
  height: fit-content;
  overflow-x: scroll;
  border-radius: 10px;
  position: relative;
}

.content-title {
  color: white;
  font-weight: 300;
}

.row-elements::-webkit-scrollbar {
  display: none;
}



.light-background {

  background-color: var(--light-gray-shade);
}


.card {

  flex-shrink: 0;
  position: relative;
  border-radius: 15px;
  /* box-shadow: 0px 3px 6px rgb(143, 143, 143); */
  width: fit-content;
  /* height: 90px; */
  cursor: pointer;
  margin: 5px 5px 20px 5px;
  border: 1px solid #dbe0e6cf;
}

.card * {

  color: black;
  /* font-weight:300 */
}

.card:has(.profile) {

  border: none;
}

.card div,
a {
  display: inline-block;
  width: clamp(70px, 7vw, 9vw);
  height: 100%;
  /* border: 1px solid green */
}



.card p {
  margin-left: 10%;
  max-width: var(--card-size);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  margin: 0;
  font-size: var(--responsive-font);
  max-width: var(--card-size);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle {

  font-size: calc(var(--responsive-font) - 2px);
}


.card-img {
  width: 100%;
  /* height: ; */
  max-width: 100%;
  aspect-ratio: 1 / 1;
  /* keeps it square */
  object-fit: cover;
  border-radius: 10px;
}

.scroll-arrow {
  transform: translateY(50px);
  color: rgb(255, 255, 255);
  background-color: rgba(128, 127, 127, 0.675);
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 2vw;
  transition: background-color .1s ease-in-out;
}

.scroll-arrow:hover {
  background-color: rgba(128, 127, 127);
}

button:has(.scroll-arrow) {
  z-index: 10;
  position: fixed;
  /* margin-top: 20px; */
  /* top:25px; */
  transform: translateY(-25%);
}

.right-arrow {
  right: -5px;
}

.track-list {
  padding: 0;
  border-radius: 10px;
}

.content-wrapper .track-list {
  width: 100%;
  height: 75vh;
  /* padding-bottom: 3%; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.content-wrapper .track-list::-webkit-scrollbar {
  width: 15px;
}

.content-wrapper .track-list::-webkit-scrollbar-thumb {

  border-radius: 50px;
  background: rgba(174, 174, 174, 0.774);
  /* height: 20%; */
}


.item {
  display: flex;
  align-items: center;
  border-bottom: var(--light-gray-shade) 1px solid;
  color: var(--contrast-clr);
  padding-block: 10px;
  padding-inline: 1.5rem;
  border-radius: 10px;
  /* border: 1px solid green; */
  max-width: 100%;
}

.item:has(.item-info-container .info) {

  padding-block: 5px;
}

.item:hover {

  /* border-radius: 15px; */
  background-color: #f4f9ff8e;
  cursor: pointer;
}


.item-info-container {
  font-size: var(--responsive-font);
  max-width: 90%;
  flex: 1;
  /* border: 1px solid red; */
  overflow: hidden;
}

.item-info-container:hover * {

  text-decoration: underline;
}

li:last-of-type {
  border: none;
}

.content-wrapper li:last-of-type {

  padding-bottom: 3%;
}

.title {
  font-weight: bolder;
}

.inline-mode {

  display: inline-block;
}


.info {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}


.item-img {
  /* border: 1px solid red; */
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin-right: 1rem;
}

.profile {
  border-radius: 70%;
}

.relative {

  position: relative;
}

.menu-btn {
  position: relative;
  margin-left: auto;
  background-color: unset;
  outline: none;
  border: none;
}



.menu-icon {
  /* color: gray; */
  font-size: var(--menu-icon-size);
}

.menu-icon:hover {

  font-size: calc(var(--menu-icon-size) + 1px);
}

.content-wrapper li:first-of-type .dropdown-menu {
  bottom: -30px;
  right: 40px;
  background-color: gray;
}


.dropdown-menu {
  background-color: gray;
  right: 15px;
  bottom: 35px;
  position: absolute;
  font-size: clamp(.6rem, .8vw, 1rem);
  width: clamp(100px, 15vw, 18vw);
  display: none;
  padding-inline: 0px;
  z-index: 10
}

.dropdown-menu,
.dropdown-item {
  border-radius: 10px;
}


.dropdown-menu * {

  color: white;
}

.hidden {
  visibility: hidden;

}

.visible {

  display: block
}

.dropdown-item {
  z-index: 10;
  padding-block: .3rem;
  width: 100%;
  text-wrap: nowrap;
  text-align: left;
  color: white;
  /* border: 1px solid green; */
}

.dropdown-svg {
  margin-inline: 3px;
}

.dropdown-item a {
  width: 100%;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.262);
}

.dropdown-item:focus {
  background-color: rgba(255, 255, 255, 0.262);
}


.content-layout-root {
  width: 100%;
  height: 81vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 5% */
}

.content-layout-root::-webkit-scrollbar {
  width: 15px;
  display: none;
}



.content-layout-root::-webkit-scrollbar-thumb {

  border-radius: 50px;
  background: rgba(128, 128, 128, 0.566);
}

.content-header {
  margin-inline: 2%;
  /* border: 1px solid red;   */
  position: relative;
  padding: 20px 2%;
  color: white;
  border-radius: 15px;
  font-size: var(--responsive-font);
  animation: fade-from-bottom 1s ease-in-out forwards;
}

.content-header-info {
  display: flex;
  align-items: center;
  font-size: clamp(.6rem, 1vw, 1rem);
}

.h1-info {
  margin-block: .5rem;
}

:is(.header-album, .header-artist) {

  max-height: 150px;
  max-width: 60%;
  border-radius: 15px;
  box-shadow: 2px 2px 4px gray;
  margin-right: 2vw;
}


.inline {

  display: inline-block;
}

.inline:not(p:last-of-type)::after {

  content: "";
  background-color: rgb(73, 73, 73);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 3px 10px
}

.actions-bar {
  /* margin-inline-start: 300px; */
  padding-block-start: 2rem;
  /* border: 1px green solid; */
  display: flex;
  align-items: center;
}

.actions-bar>* {
  margin-inline: 15px
}


.play-icon {
  /* margin-top: .2rem; */
  font-size: 3rem;
  color: orangered;
  padding: 0px;
}

.fa {

  cursor: pointer;
}

.not-a-button {

  border: 0;
  background: none;
  color: inherit
}

.disabled {

  opacity: 0.5;
  pointer-events: none;
}

.save-icon {
  margin-top: 5%;
  font-size: 2.3rem;

}

.content-actions-btn {
  background: none;
  border: 2px solid #eef1f5;
  border-radius: 15px;
  padding: .3rem 1rem;
  font-size: var(--responsive-font)
}

.player-bar {
  display: flex;
  flex-flow: row wrap;
  /* border: red 1px solid; */
  width: clamp(260px, 35%, 95%);
  min-height: fit-content;
  height: 32px;
  padding-inline: 15px;
  /* background-color: rgba(255, 255, 255, 0.489); */
  z-index: 30;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  gap: 5%;
  transform: translateX(-50%);
  transition: height .1s ease-in-out
}

.full-screen {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0;
  z-index: 90;
  flex-direction: column;
  align-items: center;
}



.full-screen .play-bar-info {
  flex: 0;
  width: fit-content;
  background: none;
  flex-direction: column;
  order: 2;
  color: white;
  font-size: .8rem;
}

.full-screen .play-bar-info div {
  width: fit-content;
  max-width: fit-content;
}

.full-screen .play-bar-info h2,
h3 {
  font-size: calc(2rem - .8vw);
  font-weight: 300;
  overflow: visible;
  text-overflow: initial;
  text-align: center;
}

.full-screen .play-bar-info h3 {

  font-size: calc(2rem - .8vw);
  font-weight: 300;
  overflow: visible;
  text-overflow: initial;
  text-align: center;
}



.full-screen .player-img {
  border-radius: 10px;
  inline-size: 250px;
  block-size: 250px;
}

.full-screen .progress-container {
  order: 3;
  background-color: rgb(188, 187, 187);
  width: 90%;
  height: 1.5%;
  margin-inline: 5% 5%;
  border-radius: 50px;
}

.full-screen .player-actions-bar {
  color: white;
  gap: 10%;
  justify-content: center;
  min-width: 90%;
  order: 4;
}

.full-screen .player-actions-bar div {

  margin-left: auto;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  padding-inline-start: 15%;
}


.full-screen .resize-window {

  display: none;
}

.full-screen .player-actions-bar div .not-a-button {

  /* background-color: white; */
  color: rgb(33, 33, 33);
  padding: 20px 25px;
  border-radius: 50%;
}

.full-screen .player-actions-bar .shuffle-button {

  margin-left: auto;
  color: white
}


.full-screen .player-additional-tools {
  min-width: 98%;
  margin-inline: 1%;
  margin-top: 1%;
}

.full-screen .player-additional-tools .dropdown-menu {
  bottom: -80px;
}

.full-screen svg {

  width: 2rem;
  height: 2rem;
}

.flex-wrapper {

  display: flex;
  justify-content: center;
}



.player-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
animation: spin 1.3s linear forwards, hue 2s ease-in-out 1.3s forwards;
}

.player-actions-bar {
  /* flex-grow: 1; */
  /* border: #1DB954 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  max-width: 20%;
}

.player-bar i {
  font-size: calc(var(--responsive-font) + 5px)
}



.play-bar-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .8rem;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 55%;
  border-radius: 30px;
  padding-inline: 2px;
  background-color: #dddddfb4;
  white-space: nowrap;
}

.play-bar-info div {
  overflow: hidden;
  flex: 1;
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
}

.play-bar-info h2,
h3 {
  text-align: left;
  font-size: clamp(.7rem, 11px, 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  margin-block: 3%;
}

.progress-container {
  width: 100%;
  height: 2px;
}

.progress-bar {
  width: var(--progress-width);
  background-color: var(--secondary-color);
  height: 100%;
  transition: width 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}

.progress-bar:hover {

  background-color: white;
}

.progress-bar::after {

  content: '';
  height: 8px;
  width: 8px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: -3px;
  border-radius: 50%;
  opacity: 0;
}

.progress-bar:hover::after {

  opacity: 1;
}

.player-additional-tools {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 870px) {

  .header-wrapper {
    gap: 7%
  }
}

@media (max-width: 630px) {

  .player-bar {
    bottom: 15vh;
  }

  .nav {
    margin-block: 0;
    position: absolute;
    bottom: 0dvh;
    /* top:93vh; */
    width: 100dvw;
    min-height: 7dvh;
    border-radius: 0;
    flex-grow: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30%;
  }

  .nav a {
    margin-block: 0;
  }


}

@media (max-width: 470px) {


  .content-wrapper {

    margin: 0
  }


  .content-wrapper {
    height: 81vh;
  }

  .track-list {
    height: 100vh;
  }

  /* .content-layout-root {

    height: 30vh
  } */

  .content-layout-root .track-list {

    height: fit-content;
  }


  .header-wrapper {
    gap: 3%
  }

}